@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji', 'Plus Jakarta Sans';

    --color-primary:     #0F766E;
    --color-primary-dk:  #0d6460;
    --color-primary-lt:  #E1F5EE;
    --color-primary-mid: #0F6E56;
    --color-primary-brd: #9FE1CB;

    --color-accent:      #0EA5E9;
}
